# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Don't put Gradle wrapper in version control system
gradle/
gradlew
gradlew.bat

app/resources
app/src/main/resources/images
